<!DOCTYPE html>
<html>
<head>
  <title>Questionnaire</title>
</head>
<body>
	<h1> Please fill out the following questions </h1>

  <form action="/results" method="POST">
  	<p> How many hours of sleep do you need?</p>
    <input type="text" name="hoursofsleep" placeholder="Hours">
    <p> Seriously, do you need that many? How many could you get by on without falling asleep on your keyboard? </p>
    <input type="text" name="actualhours" placeholder= "Hours">
    
    <button type="submit">Save</button>
  </form>
</body>
</html>