#octopus {
	margin-left: 30%;
	margin-top: 10%;
	position: relative;
	z-index: -1;
}
#hat{
	position: absolute;
	top: 59px;
	left:369px;
	z-index: 1;
}
#glasses{
	position:absolute;
	top: 39%;
	left: 34%;

}