#octopus {
	margin-left: 30%;
	margin-top: 10%;
	position: absolute;
	z-index: -1;
}
#hat{
	position: absolute;
	margin-left: 27%;
	z-index: 1;
}
#glasses{
	position:absolute;
	margin-top: 26%;
	margin-left: 37%;
}